@import '../../styles/variables.scss';

.root {
  margin: 50px auto;
  height: 100%;
  width: calc(100vw - 100px);
  max-width: 1400px;
  background: #fff;
  border-radius: 10px;
}

.content {
  padding: 40px 0;
}

.container {
  @include container;
}

@media (max-width: 680px) {
  .root {
    margin: 10px auto;
    width: calc(100vw - 20px);
  }
}

@media (min-width: 680px) and (max-width: 1100px) {
  .root {
    margin: 30px auto;
    width: calc(100vw - 50px);
  }
}
