@import './variables';
@import 'libs/normalize';
@import './button.scss';

body {
  background: $background;
}

.button-link {
  display: inline-block;
}

.not-found-block,
.not-found-pizza {
  @include info-block;

  .smile {
    font-size: 64px;
  }

  h2 {
    margin-bottom: 5px;
    font-size: 32px;
  }

  p {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
