@import '../../styles/variables.scss';

.topBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.title {
  margin-top: 60px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 38px;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  place-items: center;
  row-gap: 65px;
  column-gap: 35px;
}

@media (max-width: 680px) {
  .title {
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 28px;
  }

  .items {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    row-gap: 35px;
    column-gap: 15px;
  }
}

@media (min-width: 680px) and (max-width: 1100px) {
  .items {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    row-gap: 40px;
    column-gap: 15px;
  }
}
