.root {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
  column-gap: 35px;
  row-gap: 20px;
}

.pizzaImage {
  height: 350px;
  width: 350px;
}

.info {
  h2 {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
  }

  h3 {
    margin-bottom: 5px;
    font-size: 22px;
  }

  p {
    margin-bottom: 28px;
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .pizzaImage {
    height: 220px;
    width: 220px;
  }
}

@media (max-width: 580px) {
  .pizzaImage {
    height: 300px;
    width: 300px;
  }

  .info {
    h2 {
      margin-bottom: 10px;
      font-size: 24px;
    }

    h3 {
      font-size: 20px;
    }

    p {
      margin-bottom: 20px;
      font-size: 16px;
    }
  }
}

@media (max-width: 900px) {
  .root {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .info {
    text-align: center;
  }
}
