.root {
  margin: 0 auto;
  width: 500px;
  text-align: center;

  img {
    height: 350px;
    width: 350px;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
  }
}
