@import '../../styles/variables.scss';

.root {
  @include info-block;

  h2 {
    margin-bottom: 10px;
    font-size: 32px;
  }

  p {
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #777777;
  }

  img {
    margin: 45px auto 60px;
    width: 300px;
    display: block;
  }
}

.button {
  padding: 12px 0 14px;
  margin: 0 auto;
  width: 230px;
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 700px) {
  .root {
    h2 {
      font-size: 28px;
    }

    p {
      font-size: 16px;
    }

    img {
      margin: 25px auto 30px;
      max-width: 280px;
    }
  }

  .button {
    font-size: 16px;
  }
}
