.root {
  position: relative;
  margin-right: auto;

  @media (max-width: 700px) {
    margin-right: 0;
  }
}

.input {
  padding: 12px 42px;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 600px) {
    width: 250px;
  }
}

.searchIcon {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 22px;
  width: 22px;
  opacity: 0.3;
}

.closeIcon {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 22px;
  width: 22px;
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
