.root {
  position: relative;
  margin-right: auto;
}

.input {
  padding: 12px 42px;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.searchIcon {
  position: absolute;
  top: 12px;
  left: 12px;

  svg {
    opacity: 0.3;
  }
}

.closeIcon {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 22px;
  background: transparent;
  border: none;
  cursor: pointer;

  svg {
    opacity: 0.3;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: 600px) {
  .input {
    width: 250px;
  }
}

@media (max-width: 700px) {
  .root {
    margin-right: 0;
  }
}
