@import '../../styles/variables.scss';
@import '../../styles/libs/normalize.scss';

.root {
  width: 280px;
  text-align: center;
}

.pizzaImage {
  width: 260px;
  height: 260px;
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1%;
}

.selector {
  padding: 6px;
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  border-radius: 10px;
}

.list {
  display: flex;
  flex: 1;

  &:first-of-type {
    margin-bottom: 6px;
  }
}

.listItem {
  padding: 8px;
  flex: 1;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  @include noselect();

  &.active {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    cursor: auto;
  }
}

.bottomBlock {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}

.button {
  display: flex;
  align-items: center;
  gap: 4px;

  svg {
    height: 12px;
    width: 12px;
  }
}

@media (max-width: 680px) {
  .root {
    width: 240px;
  }

  .pizzaImage {
    width: 240px;
    height: 240px;
  }

  .title {
    font-size: 17px;
  }

  .button {
    svg {
      display: none;
    }
  }
}

@media (min-width: 680px) and (max-width: 1100px) {
  .root {
    width: 270px;
  }

  .title {
    font-size: 18px;
  }

  .price {
    font-size: 18px;
    line-height: 23px;
  }
}
