@import '../../scss/variables';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  padding: 16px;
  border-color: darken($color: $gray-line, $amount: 10);

  span {
    color: darken($color: $gray-line, $amount: 20);
    font-weight: 500;
    font-weight: 600;
  }

  svg {
    margin-right: 12px;
    path {
      fill: transparent;
      stroke-width: 2;
    }
  }

  &:hover {
    background-color: darken($color: $gray-line, $amount: 90);
    border-color: darken($color: $gray-line, $amount: 90);

    span {
      color: $gray-line;
    }

    svg {
      path {
        fill: transparent;
      }
    }
  }
}
