@import '../../styles/variables';

.root {
  padding: 16px;
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: darken($color: $gray-line, $amount: 10);

  span {
    font-weight: 500;
    font-weight: 600;
    color: darken($color: $gray-line, $amount: 20);
  }

  svg {
    margin-right: 12px;

    path {
      fill: transparent;
      stroke-width: 2;
    }
  }

  &:hover {
    background: darken($color: $gray-line, $amount: 90);
    border-color: darken($color: $gray-line, $amount: 90);

    span {
      color: $gray-line;
    }

    svg {
      path {
        fill: transparent;
      }
    }
  }
}

@media (max-width: 560px) {
  .root {
    padding: 5px;

    svg {
      margin-right: 5px;
    }
  }
}
